<div class="container-flui">
    <div class="row">
        <div class="col-8">
            <h1>{{'Rules_'|translate}} </h1>
        </div>
        <div class="col-md-4 pageSwitchButtons">
            <a routerLink="/contactlist/" class="btn btn-success notranslate" title="About">{{'Back'|translate}}</a>
            <a routerLink="/thesindhtrans2016/" class="btn btn-success notranslate" title="About">{{'Next'|translate}}</a>
            <a href="" class="btn btn-success notranslate" title="About">{{'Home'|translate}}</a>
        </div>
    </div>
    <hr>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="rules-list">
                    <li *ngFor="let data of allData" > <span class="small-head-dot bg-light-olive mr-3 mt-2"></span> 
                        <a [routerLink]="['/rulesdetail/', data.id]" *ngIf="data.type=='jpg' || data.type=='png' || data.type=='text'"> {{data.name}} </a>
                        <a href="{{imageUrl}}{{data.image_pdf_link}}" target="_blank" *ngIf="data.type=='pdf'"> {{data.name}} </a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
    
</div>