<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <h2>{{'PerformanceofAssembly_'|translate}}</h2>
        </div>
        <div class="col-md-4 pageSwitchButtons">
            <a routerLink="/parliamentarycalendar/" class="btn btn-success notranslate" title="About">{{'Next'|translate}}</a>
            <a href="" class="btn btn-success notranslate" title="About">{{'Home'|translate}}</a>
            <a routerLink="/motions/" class="btn btn-success notranslate" title="About">{{'Back'|translate}}</a>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="col-12">
            <ul>
                <li> <span class="small-head-dot bg-light-olive mr-3 mt-2"></span> <a target="_blank" routerLink="/sessions/">{{"Sessions_"|translate}}</a></li>
                <li> <span class="small-head-dot bg-light-olive mr-3 mt-2"></span> <a target="_blank" routerLink="/legislations/">{{"Legislations"|translate}}</a></li>
                <li> <span class="small-head-dot bg-light-olive mr-3 mt-2"></span> <a target="_blank" routerLink="/motions/">{{"Motions"|translate}}</a></li>
                <li> <span class="small-head-dot bg-light-olive mr-3 mt-2"></span> <a target="_blank" routerLink="/resolutionspassed/">{{"Resolutions"|translate}}</a></li>
                <li> <span class="small-head-dot bg-light-olive mr-3 mt-2"></span> <a target="_blank" routerLink="/questions/">{{"Questions"|translate}}</a></li>
            </ul>
        </div>
    </div>
</div>
