<style>
    /* .picture-frame img {
width: 100% !important;
    border: 9px solid #328a1d;
} */
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <h2>
                {{'LeaderoftheOpposition_'|translate}}
            </h2>
        </div>
        <div class="col-md-3">
            <select class="form-control" (change)="onChange($event, false)">
                <option *ngFor="let data of allAssemblyTenure" value="{{data.id}}" >{{data.fromdate}} to {{data.todate}}</option>
            </select>
        </div>
        <div class="col-md-4 pageSwitchButtons">
            <a routerLink="/rulesofprocedures/" class="btn btn-success notranslate" title="About">{{'Next'|translate}}</a>
            <a href="" class="btn btn-success notranslate" title="About">{{'Home'|translate}}</a>
            <a routerLink="/leaderofthehouse/" class="btn btn-success notranslate" title="About">{{'Back'|translate}}</a>
        </div>
    </div>
    <div class="row" *ngFor="let data of filterItemsOfType('1','Leader of the Opposition')">      
        <div class="col-2 py-2">
            <div class="picture-frame full-height">
                <img src="{{imageUrl}}{{data.image}}" alt="Member Name" class="full-height">
            </div>
        </div>
        <div class="col-8">
            <!-- <a [routerLink]="['/membersperformancereport/', data.id]"><p>{{'ViewPerformanceReport'|translate}}</p></a> -->
            <a [routerLink]="['/memberprofile/', data.id]" ><h5 >{{data.name}}</h5></a>
            <p style="line-height: 0;">{{data.presentaddress}}</p>
            <p style="line-height: 0;">{{data.tabs}}</p>
            <p style="line-height: 0;">{{data.fromdate}} to {{data.todate}}</p>
        </div>       
    </div>
    
</div>