<div class="container-flui">
    <div class="row">
        <div class="col-8">
            <h2>Rules</h2>
        </div>
        <div class="col-md-4 pageSwitchButtons">
            <a href="" class="btn btn-success notranslate" title="Home Page">{{'Home'|translate}}</a>
            <a routerLink="/rules/" class="btn btn-success notranslate" title="Back Page">{{'Back'|translate}}</a>
        </div>
    </div>
    <hr>
    <div class="row">
        
        <div class="col-12" *ngIf="allData.type=='text'; else elseBlock">
            <div [innerHTML]="allData.image_pdf_link"></div>
        </div>
        <ng-template #elseBlock> 
            <img src="{{imageUrl}}{{allData.image_pdf_link}}" width="100%" alt="">
        </ng-template>
    </div>
    
</div>