<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4>PROVINCIAL ASSEMBLY OF SINDH</h4>
                <h4>KARACHI, THE 5TH DECEMBER, 2013</h4>
            </div>
            <div class="col-12">
                <p>The Provincial Assembly of Sindh in its sitting held on Thursday, the 31st October, 2013 has  adopted the Rules of Procedure of the Provincial Assembly of Sindh, 2013 in pursuance of the provisions of clause (1) of Article 67 read with Article 127 of the Constitution of Islamic Republic of Pakistan:-</p>
            </div>
            <div class="col-12">
                <p><u><b>RULES OF PROCEDURE OF THE</b></u></p>
                <p><u><b>PROVINCIAL ASSEMBLY OF SINDH</b></u></p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p><b>CHAPTER-I</b></p>
                <p><b>INTRODUCTORY</b></p>
            </div>
            <div class="col-12">
                <p>1 SHORT TITLE AND COMMENCEMENT:–</p>
                <p>(1)     These rules may be called the Rules of Procedure of the Provincial Assembly of Sindh, 2013.</p>
                <p>(2)    They shall come into force at once.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>2 DEFINITIONS:–</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>(1) In these rules, unless the context otherwise requires –</p>
                <p>(a) “Act” means a Bill passed by the Assembly and assented to by the Governor;</p>
                <p>(b) “Advocate General” means a person appointed as Advocate General for the Province under Article 140 of the Constitution</p>
                <p>(c) “Amendment” means an alteration of or addition to a Bill, Motion or Resolution</p>
                <p>(d) “Article” means an Article of the Constitution</p>
                <p>(e) “Assembly” means the Provincial Assembly of Sindh;</p>
                <p>(f) “Auditor-General” means the Auditor General of Pakistan appointed under Article 168 of the Constitution</p>
                <p>(g) “Bill” means a draft of a proposed statute presented in the Assembly but not yet enacted or passed and made a law</p>
                <p>(h) “Budget” means the Annual Budget Statement within the meaning of Article 120 of the Constitution</p>
                <p>(i) “Chief Minister” means the Chief Minister of the Province of Sindh</p>
                <p>(j) “Chamber” means the place where the Assembly meets to transact its business</p>
                <p>(k) “Committee” means a Committee constituted under these rules</p>
                <p>(l) “Constitution” means the Constitution of the Islamic Republic of Pakistan,1973</p>
                <p>(m) “Gazette” means the Sindh Government Gazette</p>
                <p>(n) “Gender” means words importing the masculine gender shall be taken to include feminine gender and words in the singular shall include the plural; and vice versa</p>
                <p>(o) “Government” means the Government of Sindh</p>
                <p>(p) “Governor” means Governor of Sindh</p>
                <p>(q) “House” means the Chamber of the Assembly where the legislative body meets</p>
                <p>(r) “Leader of the House” means the Chief Minister or a member designated by him to represent Government and regulate Government business in the Assembly</p>
                <p>(s) “Leader of Opposition” means a member who, in the opinion of the Speaker, is for the time being leader of the majority of the members in the Opposition</p>
                <p>(t) “Lobby” means the covered corridor immediately adjoining the Chamber and coterminous with it</p>
                <p>(u) “Member” means a Member of the Assembly</p>
                <p>(v) “Member-elect” means a person elected as Member and notified as such by the Election Commission of Pakistan, but has not as yet made oath as stipulated in rule 6</p>
                <p>(w) “Member-in-Charge” means, in the case of Government Bill, a Minister or a Parliamentary Secretary acting on behalf of the Government, and in the case of a private member’s Bill, the member who has introduced it or any other member authorized by mover in writing to assume charge of the Bill in absence of the mover</p>
                <p>(x) “Minister” means the Provincial Minister and includes the Chief Minister</p>
                <p>(y) “Motion” means a proposal made by a member relating to any matter which may be discussed by the Assembly</p>
                <p>(z) “Mover” means a Member who moves a Bill, a Resolution and Motion or amendments therein</p>
                <p>(aa) “Orders of the Day” means the list of business to be brought before the Assembly on any day</p>
                <p>(bb) “Parliamentary Secretary” means a Member appointed as such by the Chief Minister</p>
                <p>(cc) “Person presiding” means in relation to a sitting, any person who is presiding over that sitting</p>
                <p>(dd) “Precincts of the Assembly” means the Assembly Chamber, building, courtyard, gardens, Committee rooms appurtenant thereto, and includes the hall, members’ lobbies, galleries, rooms of the Speaker, the Deputy Speaker, the Ministers and other offices of Government located in the Assembly Building, and the offices of the Assembly Secretariat and any other premises which are notified as such for a specified time by the Speaker in the Gazette</p>
                <p>(ee) “Private Member” means a member who is not a Minister or a Parliamentary Secretary</p>
                <p>(ff) “Private Member’s Bill” means a Bill of a Member who is not a Minister or a Parliamentary Secretary</p>
                <p>(gg) “Resolution” means a motion for the purpose of discussing and expressing an opinion on a matter of general public interest and includes a resolution specified in the Constitution</p>
                <p>(hh) “Schedule” means a Schedule appended to these rules</p>
                <p>(ii) “Secretary” means Secretary of the Assembly and includes any person for the time being performing the duties of the Secretary</p>
                <p>(jj) “Select Committee” means a Committee of a legislative body that is formed to examine and report on specific bill or issue</p>
                <p>(kk) “Session” means the >{{ "Period"|translate}} commencing on the day of the first sitting of the Assembly after having been summoned and ending on the day the Assembly is prorogued or dissolved</p>
                <p>(ll) “Supplementary Budget” means a consolidated statement, to be known as the Supplementary Budget Statement, laid before the Assembly under Article 124 of the Constitution</p>
                <p>(mm) “Sitting” means a meeting of the Assembly or any of its Committees from the commencement of its business to the termination for the day</p>
                <p>(nn) “Speaker” means the Speaker of the Assembly and includes the Deputy Speaker or any other Member for the time being acting as a Chairperson</p>
                <p>(oo) “Special Committee” means a committee formed with such composition and functions to examine and report on any issue as may be specified through a motion</p>
                <p>(pp) “Standing Committee” means a permanent committee as of a legislature intended to consider all matters pertaining to a designated subject</p>
                <p>(qq) “Starred question” means a question for an oral answer</p>
                <p>(rr) “Table” means the Table of the House; an</p>
                <p>(ss) “Unstarred question” means a question for a written answer.</p>
                <p>(2) The words and expressions used but not defined in these rules shall, unless the context otherwise requires, have the meaning assigned to them in the Constitution.</p>
            </div>
        </div>
    </div>
</div>