<style>
    /* .picture-frame img {
width: 100% !important;
    border: 9px solid #328a1d;
} */
</style>
<div class="container-fluid">
    <div class="row" style="border-bottom: solid 1px;">
        <div class="col-12" style="text-align: center">
           <h1>Committee on Rules of Procedure & Privileges</h1>
        </div>
    </div>
    <div class="list-group list-group-horizontal-md tabs-holder" id="myListId" role="tablist">
        <a class="list-group-item list-group-item-action border-0 mx-md-1 mt-2 active" data-toggle="list" href="#tabId1" role="tab"><span class="small-head-dot bg-light-beige mr-3 mt-2"></span>Members</a>
        <a class="list-group-item list-group-item-action border-0 mx-md-1 mt-2" data-toggle="list" href="#tabId2" role="tab"><span class="small-head-dot bg-light-beige mr-3 mt-2"></span> Business Referred</a>
        <a class="list-group-item list-group-item-action border-0 mx-md-1 mt-2" data-toggle="list" href="#tabId3" role="tab"><span class="small-head-dot bg-light-beige mr-3 mt-2"></span>  Reports </a>
        <a class="list-group-item list-group-item-action border-0 mx-md-1 mt-2" data-toggle="list" href="#tabId4" role="tab"><span class="small-head-dot bg-light-beige mr-3 mt-2"></span>  Subcommittees  </a>
        <a class="list-group-item list-group-item-action border-0 mx-md-1 mt-2" data-toggle="list" href="#tabId5" role="tab"><span class="small-head-dot bg-light-beige mr-3 mt-2"></span>   Notifications  </a>
       
    </div>
    
    <div class="tab-content p-4 bg-light-gray mt-2 text-darker">
        <div class="tab-pane fade show active" id="tabId1" role="tabpanel">
         
            <div class="row">
                <div class="col-12">
                        
	
                        <table class="table">
                            <thead class="bg-success text-white">
                                <tr>
                                    <th>{{"Assembly"|translate}}</th>
                                    <th>{{"Name"|translate}}</th>
                                    <th>Chairperson</th>
                                </tr>
                            </thead>
                        
                              <tbody>
                            
                                  <tr class="clickable" data-href="https://pastest.vip/committee/committee-on-rules-of-procedure-and-privileges/">
                                    <td>
                                        <a href="https://pastest.vip/assembly/14th/">14th</a>
                                    </td>
                                    <td>
                                        <a href="https://pastest.vip/committee/committee-on-rules-of-procedure-and-privileges/">Committee on Rules of Procedure and Privileges</a>
                                    </td>
                                    <td>
                                        <a href="https://pastest.vip/member/nisar-ahmed-khuhro/">Nisar Ahmed Khuhro</a>
                                    </td>
                                </tr>
                            
                                  <tr class="clickable" data-href="https://pastest.vip/committee/standing-committee-on-social-welfare/">
                                    <td>
                                        <a href="https://pastest.vip/assembly/14th/">14th</a>
                                    </td>
                                    <td>
                                        <a href="https://pastest.vip/committee/standing-committee-on-social-welfare/">Standing Committee on Social Welfare</a>
                                    </td>
                                    <td>
                                        <a href="https://pastest.vip/member/abdul-haseeb/">Abdul Haseeb</a>
                                    </td>
                                </tr>
                            
                                  <tr class="clickable" data-href="https://pastest.vip/committee/standing-committee-on-industries-and-commerce/">
                                    <td>
                                        <a href="https://pastest.vip/assembly/14th/">14th</a>
                                    </td>
                                    <td>
                                        <a href="https://pastest.vip/committee/standing-committee-on-industries-and-commerce/">Standing Committee on Industries and Commerce</a>
                                    </td>
                                    <td>
                                        <a href="https://pastest.vip/member/muhammad-moin-aamir-pirzada/">Muhammad Moin Aamir Pirzada</a>
                                    </td>
                                </tr>
                            
                            </tbody>
                          </table>
	
                    
                </div>
            </div>    
        </div>
    
        <div class="tab-pane fade" id="tabId2" role="tabpanel">
         

            
            <p>Not Available</p>
        </div>
    
        <div class="tab-pane fade" id="tabId3" role="tabpanel">
            
            <p>Not Available</p>
        </div>
    
        <div class="tab-pane fade" id="tabId4" role="tabpanel">
            
            <p>Not Available</p>
        </div>
        <div class="tab-pane fade" id="tabId5" role="tabpanel">
            
            <p>Not Available</p>   
        </div>
      
    </div>

</div>