<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <h2> {{'UsefulLinks_'|translate}}</h2>
        </div>
        <div class="col-md-4 pageSwitchButtons">
            <a routerLink="/faqs/" class="btn btn-success notranslate" title="About">{{'Next'|translate}}</a>
            <a href="" class="btn btn-success notranslate" title="About">{{'Home'|translate}}</a>
            <a routerLink="/glossary/" class="btn btn-success notranslate" title="About">{{'Back'|translate}}</a>
        </div> 
    </div>
    <hr>
   
        <div class="row">
            <div class="col-12">
                <div class="main-link">
                    <p class="paralink">Majlis-i-Shoora (Parliament)</p>
                    <ul>
                        <li> <span class="small-head-dot bg-light-olive mr-3 mt-2"></span> <a target="_blank" href="http://www.senate.gov.pk/">Senate</a> </li>
                        <li> <span class="small-head-dot bg-light-olive mr-3 mt-2"></span> <a target="_blank" href="http://www.na.gov.pk/">National Assembly</a></li>
                    </ul>
                    
                    <p class="paralink">Provincial Assemblies</p>
                    <ul>
                        <li> <span class="small-head-dot bg-light-olive mr-3 mt-2"></span> <a target="_blank" href="http://www.pap.gov.pk/">Punjab Assembly</a></li>
                        <li> <span class="small-head-dot bg-light-olive mr-3 mt-2"></span> <a target="_blank" href="http://www.pabalochistan.gov.pk/">Baluchistan Assembly</a></li>
                        <li> <span class="small-head-dot bg-light-olive mr-3 mt-2"></span> <a target="_blank" href="http://www.panwfp.gov.pk/">NWFP Assembly</a></li>
                        <li> <span class="small-head-dot bg-light-olive mr-3 mt-2"></span> <a target="_blank" href="http://www.ajkassembly.gok.pk/">AJ&amp;K Legislative Assembly</a>
                        </li>
                        <li> <span class="small-head-dot bg-light-olive mr-3 mt-2"></span> <a target="_blank" href="http://gbla.gov.pk" target="_blank" rel="noopener noreferrer">Gilgit
                                    Biltistan Legislative Assembly</a></li>
                    </ul>
                    
                    <p class="paralink">JUDICIARY</p>
                    <ul>
                        <li> <span class="small-head-dot bg-light-olive mr-3 mt-2"></span> <a target="_blank" href="http://www.supremecourt.gov.pk/">Supreme Court</a></li>
                        <li> <span class="small-head-dot bg-light-olive mr-3 mt-2"></span> <a target="_blank" href="http://www.sindhhighcourt.gov.pk/">High Court</a></li>
                    </ul>
                    <ul>
                        <li>Federal Shariat Court</li>
                        <li> <span class="small-head-dot bg-light-olive mr-3 mt-2"></span> <a target="_blank" href="http://www.cii.gov.pk/">Council of Islamic Ideology</a></li>
                        <li> <span class="small-head-dot bg-light-olive mr-3 mt-2"></span> <a target="_blank" href="http://www.nab.gov.pk/">National Accountability Bureau (NAB)</a>
                        </li>
                    </ul>
                    
                    <p class="paralink">Other Links</p>
                    <ul>
                        <li> <span class="small-head-dot bg-light-olive mr-3 mt-2"></span> <a target="_blank" href="http://www.pakistan.gov.pk/">WebSite of Pakistan</a></li>
                        <li> <span class="small-head-dot bg-light-olive mr-3 mt-2"></span> <a target="_blank" href="http://www.sindh.gov.pk/">Website of Sindh</a></li>
                    </ul>
                    <ul>
                        <li> <span class="small-head-dot bg-light-olive mr-3 mt-2"></span> <a target="_blank" href="http://ptv.com.pk/">WebSite of Pakistan Television</a></li>
                        <li> <span class="small-head-dot bg-light-olive mr-3 mt-2"></span> <a target="_blank" href="http://radio.gov.pk/">WebSite of Pakistan Radio</a></li>
                    </ul>
                    <p class="paralink">Newspapers</p>
                    <ul>
                        <li> <span class="small-head-dot bg-light-olive mr-3 mt-2"></span> <a target="_blank" href="http://www.dawn.com/">The Dawn – English</a></li>
                        <li> <span class="small-head-dot bg-light-olive mr-3 mt-2"></span> <a target="_blank" href="http://www.nation.com.pk/">The Nation – English</a></li>
                        <li> <span class="small-head-dot bg-light-olive mr-3 mt-2"></span> <a target="_blank" href="http://jang-group.com/thenews/">The News – English</a></li>
                        <li> <span class="small-head-dot bg-light-olive mr-3 mt-2"></span> <a target="_blank" href="http://jang-group.com/jang/index.html">The Jang – Urdu</a></li>
                        <li> <span class="small-head-dot bg-light-olive mr-3 mt-2"></span> <a target="_blank" href="http://www.nawaiwaqt.com.pk/">The Nawa-i-Waqat Urdu</a> </li>
                        <li> <span class="small-head-dot bg-light-olive mr-3 mt-2"></span> <a target="_blank" href="http://www.khabrain.com/">The Khabrain-Urdu</a> </li>
                        <li> <span class="small-head-dot bg-light-olive mr-3 mt-2"></span> <a target="_blank" href="http://www.dailyibrat.com/">The Daily Ibrat</a></li>
                    </ul>
                    <ul>
                        <li> <span class="small-head-dot bg-light-olive mr-3 mt-2"></span> <a target="_blank" href="http://www.dailykawish.com/">The Daily Kawish</a></li>
                    </ul>
                    
                    <p class="paralink">Tourism</p>
                    <ul>
                        <li> <span class="small-head-dot bg-light-olive mr-3 mt-2"></span> <a target="_blank" href="http://www.tourism.gov.pk/">PTDC</a></li>
                    </ul>
                </div>
            </div>
        </div>
  
</div>