<style>
    /* .picture-frame img {
width: 100% !important;
    border: 9px solid #328a1d;
} */
</style>
<div class="container-fluid">
   
    <div class="row">
        <div class="col-md-8">
            <h2>
                {{'Acts_'|translate}}
            </h2>
        </div>
        <div class="col-md-4 pageSwitchButtons">
            <a routerLink="/bills/" class="btn btn-success" title="About">Back</a>
            <a routerLink="/motions/" class="btn btn-success" title="About">Next</a>
            <a href="" class="btn btn-success" title="About">Home</a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead class="bg-success text-white">
                    <tr>
                        <th>&nbsp;</th>
                    </tr>
                    
                </thead>
                <tbody>
                    <tr *ngFor="let data of allAssemblyTenure">
                        <td> <a [routerLink]="['/actslists/', data.id]">{{data.fromdate}} to {{data.todate}}</a> </td>
                    </tr>
                   
                </tbody>
            </table>
        </div>
    </div>   
    
</div>