<div class="container-flui">

    <div class="row">
        <div class="col-8">
            <h1>{{'CommitteeonGovernmentAssurance_'|translate}} </h1>
        </div>
        <div class="col-md-4 pageSwitchButtons">
            <a routerLink="/librarycommittee/" class="btn btn-success notranslate" title="About">{{'Next'|translate}}</a>
            <a href="" class="btn btn-success notranslate" title="About">{{'Home'|translate}}</a>
            <a routerLink="/selectcommitteeonbills/" class="btn btn-success notranslate" title="About">{{'Back'|translate}}</a>
        </div> 
    </div>
    <hr>
    <table class="table table-bordered">
        <thead class="bg-success text-white">
            <tr>
                <th>{{"Assembly"|translate}}</th>
                <th>{{"Name"|translate}}</th>
                <th>{{"Chairperson"|translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of allData">
                <td><a [routerLink]="['/committeeongovernmentassurancedetail1/', data.assemblyid]">{{data.assemblyname}} - dddd</a></td>
                <td><a [routerLink]="['/committeeongovernmentassurancedetail2/', data.assemblyid]">{{data.name}}</a></td>
                <td>{{data.name}}</td>
            </tr>
        </tbody>
    </table>
</div>