<div class="container-fluid">
    
    <div class="row">
        <div class="col-8">
            <h2> {{'VideoArchive_'|translate}} </h2>
        </div>  
        <div class="col-md-4 pageSwitchButtons">
            <a routerLink="/webcastlivevideoaudio/" class="btn btn-success notranslate" title="About">{{'Back'|translate}}</a>
            <a routerLink="/publications/" class="btn btn-success notranslate" title="About">{{'Next'|translate}}</a>
            <a href="" class="btn btn-success notranslate" title="About">{{'Home'|translate}}</a>
        </div>      
    </div>
    
    <hr>

    <div class="row">
        <div class="col-4" *ngFor="let data of allData">
           <div class="card">
               <div class="card-header">
                   {{data.name}}
               </div>
               <div class="card-body">
                <video src="{{imageUrl}}{{data.file}}" controls width="100%"></video>
                
               </div>
               <div class="card-footer">
                   <div [innerHTML]="safeData(data.description)"></div>
               </div>
           </div>
        </div>
        
    </div>
   
    <div class="py-3"></div>
</div>